@font-face {
	font-family: 'OceanRush';
	src: url('/src/assets/fonts/OceanRush.otf') format('truetype');
}
@font-face {
	font-family: 'JANGKUY-BlackExpanded';
	src: url('/src/assets/fonts/JANGKUY-BlackExpanded.otf') format('truetype');
}
@font-face {
	font-family: 'LatoRegular';
	src: url('/src/assets/fonts/Lato-Regular.ttf') format('truetype');
}
